.ant-message {
  z-index: 1100;
}

.customSelect{
  height: 40px;   
  width: 100%;
  display: block; 
  background-color: #a5a5a5;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
  color: #777;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  transition: all 0.3s;
  box-shadow: none;
 

  
}
.ant-select-selector{
  background-color: #f9f9f9 !important;
    border-radius: 0 !important;
  color: #777;
  border: none !important;

}
.ant-select-selection-item{
  color: #777;

}